@use "variables";

.footer {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Raleway';
    background: linear-gradient(0deg, rgba(214,214,214,1) 0%, rgba(255,255,255,0.43) 100%);
    width: 100%;

    .footer__icons_img {
    background: llinear-gradient(177.96deg, rgba(255, 255, 255, 0.43) 1.72%, #6F6F6F 107.44%);
    scale: 500px;
    }

    .icons{
            display: flex;
            flex-direction: row;
            justify-content: center;
        .icons__anchor{

            text-decoration: none;
            padding: 10px;
        }
        .icons__img{
            width: 30px;
        }
    }

    .footer__header {
        margin-top: 20px;
        font-size: 20px;
        font-family: Abril Fatface;
    }

    .footer__list {
        padding: 20px 0;
        font-family: 'Raleway';
        font-size: 15px;
        list-style-type: none;
        .list-item{
            margin: 10px 0;
        }
        .list-item--anchor{
            text-decoration: none;
            color: black;
        }
    }

    .footer__anchor {
        text-decoration: none;
        color: black
    }
        

    .footer__address {
        margin-top: 30px;
        font-style: bold;
        font-size: 15px;
    }
    
    .footer__copyright {
        font-size: 14px;
        margin-top: 50px;
        text-align: center;
    }

    .footer__powered{
        margin-top: 40px;
        margin-bottom: 80px;
    }

    .dev {
        font-weight: bold;
    }

}

@media (min-width: 1024px) {

    .footer{
        flex-direction: column;
        .icons{
            position: fixed;
            display: flex;
            flex-direction: column;
            z-index: 1;
            top: 55vh;
            left: 95vw;
            transform: scale(1.5);
            

            .icons__anchor{
                margin: 0;
            }
            
        }
        .icons__anchor{
            transition: 0.3s;
        }
        .icons__anchor:hover{
            transform: scale(1.2);
            transition: 0.3s;
        }
    }

    .footer__content{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: left;

        .footer__nosotros{
            margin: 0 150px;
        }

        .footer__copyright{
            position: relative;
            top: 10px;
            right: 320px;
        }
    }

}