@use "variables";

.gallery{
    display: flex ;
    flex-direction: column;
    align-items: center;

    .title--black{
        font-size: 32px;
        text-align: center;
        font-weight: 400;
        margin-left: 5%;
        margin-right: 5%;
    }

    .gallery__container{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .card{
        background-color: white;
        padding: 20px;
        margin: 20px;
        border-radius: 10px;
        width: 300px;
        height: 410px;
        display: flex;
        flex-flow: column;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
        
        .buttons{
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .card__img{
            margin: 10px;
            width: 80%;
            height: 100%;
        }
    
        .card__separator{
            width: 100%;
            margin-top: 20px;
            padding: 0;
            margin-bottom: 10px;
        }
    
        .card__title{
            font-family: 'Abril Fatface', cursive;
            margin-bottom: 5px;
            font-weight: 400;
        }
    
        // .description--black{
        //     font-family: 'Raleway', sans-serif;
        //     font-weight: 400;
        //     font-size: 16px;
        // }
    
        .list{
            // list-style: disc;
            // list-style-position: inside;
            font-family: 'Raleway', sans-serif;
            padding: 0;
            margin-top: 10px;
            margin-bottom: 15px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
        }
    
        .button--white{
            font-size: 1.2rem;
            font-weight: 400;
            width: 70%;
            height: 45px;
            flex-grow: 3;
            border: black;
            border: 1px;
            border-style: solid;
            border-radius: 10px;
            background-color: white;
            margin-right: 20px;
        }
        
        .button--bold-text{
            font-weight: 600;
            width: 20%;
        }
    
        .button--cart{
            background-color: black;
            border-radius: 10px;
            border: 0;
            padding: 10px;
        }

        .button--white:hover{
            background-color: white;
            box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;        
            transition: 0.3s;
            .button--bold-text{
                background-color: white;
                box-shadow: none;
            }
        }
        .button--white:active{
            transition: 0.3s;
            box-shadow: #FFBA60 0px 0px 0.1px, #FFBA60 0px 0px 8px;        
        }


    }

    .button--black{
        background-color: black;
        margin-top: 30px;
        color: white;
        font-size: 16px;
        font-family: 'Raleway', sans-serif;
        border-radius: 10px;
        border: 0;
        padding: 10px 50px;
        font-weight: 700;
        transition: 0.3s;
    }

    .button:hover{
        transition: 0.3s;
        background-color: hsla(0, 0%, 0%, 0.75);
    }

    .button:active{
        transition: 0.3s;
        background-color: black;
        box-shadow: #FFBA60 0px 0px 0.1px, #FFBA60 0px 0px 8px;        
    }

}


@media all and (min-width: 1024px) {

    .gallery{
        flex-direction: column;

        .title--black{
            font-size: 50px;
            font-weight: 400;
            margin-left: 20%;
            margin-right: 20%;
            margin-bottom: 60px;
        }

        .gallery__container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .button--white{
                font-size: 1.25rem;
                width: 70%;
                height: 45px;
                flex-grow: 3;
                border: black;
                border: 1px;
                border-style: solid;
                border-radius: 10px;
                background-color: white;
                margin-right: 20px;
                transition: 0.3s;
            }
        }
        .card{
            width: 310px;
            height: auto;
            margin-top: 135px;
            margin-left: 50px;
            margin-right: 50px;
            transition: 0.3s;
        }

        .card:hover{
            transform: scale(1.04);
            transition: 0.3s;
        }
        
        .card__img{

            position: relative;
            left: 20px;

            bottom: 135px;
        }

        .card__separator{
            position: relative;
            bottom: 135px;
        }
        .card__title{
            margin-top: -130px;
        }

        .button--black{
            margin-top: 100px;
        }
    }
    
  }