@use "variables";


.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 80px;
    .nav__list{
        display: flex;
        flex-direction: row;
        display: none;
    }
    .nav__link{
        margin-top: 0;
    }
    .nav__cart{
        position: relative;
        top: 5px;
    }
}