
body {
  width: 100%;
}
.nav {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 30px;
  height: 80px;

  &__cart {
    margin-right: 0px;
    margin-top: 16px;
    position: relative;
    /* bottom: 20px; */
    width: 90px;
    height: 90px;
  }
  .button__black--nav {
    background-color: black;
    color:white;
    border-style: none;
    transition: 0.3s;
  }

  .button:hover{
    transition: 0.3s;
    background-color: hsla(0, 0%, 0%, 0.75);
  }

}

.button:active{
  transition: 0.3s;
  background-color: black;
  box-shadow: #FFBA60 0px 0px 0.1px, #FFBA60 0px 0px 8px;        
}

.button--white:active{
  transition: 0.3s;
  background-color: white;
  box-shadow: #FFBA60 0px 0px 0.1px, #FFBA60 0px 0px 8px;        
}



.header {
  background-color: #ffffff;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
  position: relative;

  &__slogan {
    color: #858585;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
  }
  &__title {
    font-size: 32px;
    padding: 15px;
    font-family: "Abril Fatface", arial;
    font-weight: lighter;
  }

  .button {
    width: 129px;
    height: 30px;
    font-size: 14px;
    border-radius: 10px;
    margin: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    border-style: solid;
    border-color: black;
    transition: 0.3s;
  }
  .button--white {
    background-color: white;
    color: black;
    transition: background-color .5s;
  }
  .button--white:hover{
    background-color: black ;
  }

  .button--black {
    background-color: black;
    color: white;
    border: none;

  }

  .button:hover{
    transition: 0.3s;
    background-color: hsla(0, 0%, 0%, 0.75);
  }

  .button--white:hover{
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;        
    transition: 0.3s;
    .button--bold-text{
        background-color: white;
        box-shadow: none;
    }
}

.button:active{
  transition: 0.3s;
  background-color: black;
  box-shadow: #FFBA60 0px 0px 0.1px, #FFBA60 0px 0px 8px;        
}

.button--white:active{
  transition: 0.3s;
  background-color: white;
  box-shadow: #FFBA60 0px 0px 0.1px, #FFBA60 0px 0px 8px;        
}


  
  &__piano {
    width: 80%;
    margin: 20px 0px;
    align-items: center;
    justify-content: center;
  }
}

.nav__list-item{
    margin: 0
}
@media (min-width: 1024px) {
  .nav {
    margin-top: 0px 0px;

    &__cart {
      width: 99px;
      height: 99px;
    }

    section{
        width:300px;
    }

    &__list {
       display: flex; 
      list-style-type: none;
      flex-flow: row wrap;
      position: relative;
      justify-content: flex-end;
      align-items: center;
      font-family: "Raleway", sans-serif;
      font-size: 14px;
      font-weight: 600;
      flex-grow: 1;



      .button {
        width: 129px;
        height: 30px;
        border-radius: 10px;
        font-weight: 600;
        border-style: solid;
        border-color: black;
        margin-left: 10px;
      }

    }
    &__link {
      text-decoration: none;
      color: black;
    }

    .nav__list-item:hover{
      transform: scale(1.1);
      transition: 0.3s;
    }
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__title {
      font-size: 56px;
      padding: 15px;
      font-family: "Abril Fatface", arial;
      font-weight: 400;
    }

    &__piano {
      text-align: center;
      width: 589px;
      height: 454px;
      margin-top: 40px;
    }
  }
}



form .div__container{
    flex-direction: row;
}

form .button{
    width: 100%;
}

form .div__container--big{
    width: 100%;
}


form div {
    display: flex;
    flex-direction: column;
}
.nav__link{
    margin: 0 20px;
    
}


@media (max-width: 1024px) {
  .nav {
      &__list {
          display: none;
      }
  }

  .contact .form__input {
      width: 100% !important;

  }
  
  form .div__container{
      flex-direction: column !important;
  }


}