@use "variables";


.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 80px;
    .nav__list{
        display: flex;
        flex-direction: row;
        display: none;
    }
    .nav__link{
        margin-top: 0;
    }
    .nav__cart{
        position: relative;
        top: 5px;
    }
}

.header{

    display: flex;
    flex-direction: column;
    align-items: center;

    .header__slogan{
        margin-top: 70px;
        font-family: 'Raleway', sans-serif;
        font-size: 1.1rem;
        font-weight: 400;
        color: hsla(0, 0%, 0%, 0.75);
        text-align: center;
    }

    .header__title{
        margin-top: 30px;
        font-family: 'Abril Fatface', cursive;
        font-size: 2.3rem;
        font-weight: 400;
        text-align: center;
    }

    .header__buttons{
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 5px;

        .button{
            padding: 8px 30px;
            margin: 10px;
        }
    }

    .button--white{
        font-size: 1.2rem;
        font-weight: 400;
        border: black;
        border: 1px;
        border-style: solid;
        border-radius: 10px;
        background-color: white;
    }
    .button--white:hover{
        background-color: white;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;        
        transition: 0.3s;
        .button--bold-text{
            background-color: white;
            box-shadow: none;
        }
    }

    .button--white:active{
        transition: 0.3s;
        box-shadow: #FFBA60 0px 0px 0.1px, #FFBA60 0px 0px 8px;        
    }

    .button--black{
        background-color: black;
        color: white;
        font-size: 16px;
        font-family: 'Raleway', sans-serif;
        border-radius: 10px;
        border: 0;
        font-weight: 700;
        transition: 0.3s;
    }

    .button:hover{
        transition: 0.3s;
        background-color: hsla(0, 0%, 0%, 0.75);
    }

    .button:active{
        transition: 0.3s;
        background-color: black;
        box-shadow: #FFBA60 0px 0px 0.1px, #FFBA60 0px 0px 8px;        
    }

    .header__piano{
        margin-top: 30px;
        margin-bottom: 30px;
        width: 90%;
        height: auto;
    }
}