@use "variables";

.partners {
    display: flex ;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: linear-gradient(180deg, rgba(214,214,214,1) 0%, rgba(255,255,255,0.43) 100%);
    width: 100%;
    justify-content: center;

    .title--black{
        font-size: 20px;
        text-align: center;
        font-weight: 400;
        margin-left: 10%;
        margin-right: 10%;
    }

    .partner {
        display: flex;
        flex-direction: row;
        /*justify-content: space-between;*/
        border-radius: 55px 10px 10px 55px;
        height: 65px;
        margin: 20px;
        padding: 10px 0;
        padding-right: 50px;
        background: black;  
    }

    .partner__title {
        justify-content: center;
        text-transform: uppercase;
        color: white;
        font-family: 'Raleway';
        font-style:normal;
        font-size: 20px;
        text-align: center;
    }

    .partner--bookpa {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        border-radius: 10px 55px 55px 10px; 
        padding: 10px 0;
        padding-left: 50px;
    }

    .partner__desktop {
        display: none;
    }

    @media (min-width: 960px) {

        .partner__desktop {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-radius: 55px 10px 10px 55px;
            height: 65px;
            margin: 20px;
            padding: 10px 0;
            padding-right: 50px;
        }

        .partner__desktop--round {
            border-radius: 55px 55px;

        }

        


    }

}










