.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 80px;
}
.nav .nav__list {
  display: flex;
  flex-direction: row;
  display: none;
}
.nav .nav__link {
  margin-top: 0;
}
.nav .nav__cart {
  position: relative;
  top: 5px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .header__slogan {
  margin-top: 70px;
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: hsla(0deg, 0%, 0%, 0.75);
  text-align: center;
}
.header .header__title {
  margin-top: 30px;
  font-family: "Abril Fatface", cursive;
  font-size: 2.3rem;
  font-weight: 400;
  text-align: center;
}
.header .header__buttons {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
}
.header .header__buttons .button {
  padding: 8px 30px;
  margin: 10px;
}
.header .button--white {
  font-size: 1.2rem;
  font-weight: 400;
  border: black;
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  background-color: white;
}
.header .button--white:hover {
  background-color: white;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  transition: 0.3s;
}
.header .button--white:hover .button--bold-text {
  background-color: white;
  box-shadow: none;
}
.header .button--white:active {
  transition: 0.3s;
  box-shadow: #FFBA60 0px 0px 0.1px, #FFBA60 0px 0px 8px;
}
.header .button--black {
  background-color: black;
  color: white;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  border-radius: 10px;
  border: 0;
  font-weight: 700;
  transition: 0.3s;
}
.header .button:hover {
  transition: 0.3s;
  background-color: hsla(0deg, 0%, 0%, 0.75);
}
.header .button:active {
  transition: 0.3s;
  background-color: black;
  box-shadow: #FFBA60 0px 0px 0.1px, #FFBA60 0px 0px 8px;
}
.header .header__piano {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 90%;
  height: auto;
}

.new-model {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(0, 0, 0, 0.75) 37.19%, rgba(0, 0, 0, 0.75) 76.04%, #FFFFFF 100%);
}
.new-model .title--black {
  margin: 20px;
  text-align: center;
  font-size: 32px;
}
.new-model .new-model__video {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 20px;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-filter: blur(1px) opacity(10%);
}
.new-model .new-model__background {
  width: 600px;
  height: 420px;
  position: absolute;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-model .new-model__img {
  width: 90%;
}
.new-model .title--ebony {
  color: white;
  font-weight: 700;
  font-size: 32px;
}
.new-model .new-model__stars {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.new-model .new-model__rate {
  font-family: "Raleway", sans-serif;
  color: white;
  font-weight: 700;
  margin: 10px;
}
.new-model .new-model__stars-icon {
  margin: 10px;
  width: 150px;
}
.new-model .title--price {
  color: white;
  letter-spacing: 5%;
  font-weight: 700;
  font-size: 32px;
}
.new-model .text--white {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: white;
  font-weight: lighter;
  text-align: center;
  margin: 20px;
}
.new-model .list {
  font-family: "Raleway", sans-serif;
  color: white;
  padding: 3px;
  margin-top: 10px;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.new-model .button--black {
  background-color: black;
  color: white;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  border-radius: 10px;
  border: 0;
  padding: 10px 50px;
  font-weight: 700;
  transition: 0.3s;
  margin-bottom: 35px;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery .title--black {
  font-size: 32px;
  text-align: center;
  font-weight: 400;
  margin-left: 5%;
  margin-right: 5%;
}
.gallery .gallery__container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.gallery .card {
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  width: 300px;
  height: 410px;
  display: flex;
  flex-flow: column;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.gallery .card .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.gallery .card .card__img {
  margin: 10px;
  width: 80%;
  height: 100%;
}
.gallery .card .card__separator {
  width: 100%;
  margin-top: 20px;
  padding: 0;
  margin-bottom: 10px;
}
.gallery .card .card__title {
  font-family: "Abril Fatface", cursive;
  margin-bottom: 5px;
  font-weight: 400;
}
.gallery .card .list {
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.gallery .card .button--white {
  font-size: 1.2rem;
  font-weight: 400;
  width: 70%;
  height: 45px;
  flex-grow: 3;
  border: black;
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  background-color: white;
  margin-right: 20px;
}
.gallery .card .button--bold-text {
  font-weight: 600;
  width: 20%;
}
.gallery .card .button--cart {
  background-color: black;
  border-radius: 10px;
  border: 0;
  padding: 10px;
}
.gallery .card .button--white:hover {
  background-color: white;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  transition: 0.3s;
}
.gallery .card .button--white:hover .button--bold-text {
  background-color: white;
  box-shadow: none;
}
.gallery .card .button--white:active {
  transition: 0.3s;
  box-shadow: #FFBA60 0px 0px 0.1px, #FFBA60 0px 0px 8px;
}
.gallery .button--black {
  background-color: black;
  margin-top: 30px;
  color: white;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  border-radius: 10px;
  border: 0;
  padding: 10px 50px;
  font-weight: 700;
  transition: 0.3s;
}
.gallery .button:hover {
  transition: 0.3s;
  background-color: hsla(0deg, 0%, 0%, 0.75);
}
.gallery .button:active {
  transition: 0.3s;
  background-color: black;
  box-shadow: #FFBA60 0px 0px 0.1px, #FFBA60 0px 0px 8px;
}

@media all and (min-width: 992px) {
  .gallery {
    flex-direction: column;
  }
  .gallery .title--black {
    font-size: 50px;
    font-weight: 400;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 60px;
  }
  .gallery .gallery__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .gallery .gallery__container .button--white {
    font-size: 1.25rem;
    width: 70%;
    height: 45px;
    flex-grow: 3;
    border: black;
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    background-color: white;
    margin-right: 20px;
    transition: 0.3s;
  }
  .gallery .card {
    width: 310px;
    height: auto;
    margin-top: 135px;
    margin-left: 50px;
    margin-right: 50px;
    transition: 0.3s;
  }
  .gallery .card:hover {
    transform: scale(1.04);
    transition: 0.3s;
  }
  .gallery .card__img {
    position: relative;
    left: 20px;
    bottom: 135px;
  }
  .gallery .card__separator {
    position: relative;
    bottom: 135px;
  }
  .gallery .card__title {
    margin-top: -130px;
  }
  .gallery .button--black {
    margin-top: 100px;
  }
}
.contact {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.contact .contact__background {
  opacity: 0.3;
  position: absolute;
  z-index: -1;
  background: white;
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.35) 100%);
}
.contact .contact__image {
  width: auto;
  height: auto;
  justify-content: center;
}
.contact .title--black {
  font-size: 32px;
  text-align: center;
  font-weight: 400;
  margin-left: 5%;
  margin-right: 5%;
}
.contact .text--black {
  margin: 30px;
  font-size: 20px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
.contact .form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.contact .form .form__input {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin: 10px;
}
.contact .form .textarea {
  margin: 10px;
  height: 40px;
  background-color: hsla(0deg, 0%, 0%, 0.75);
  border-radius: 5px;
  border-style: solid;
  border-color: white;
}
.contact .form .textarea--big {
  margin-left: 10px;
  margin-right: 10px;
  height: 150px;
  background-color: hsla(0deg, 0%, 0%, 0.75);
  border-radius: 5px;
  border-style: solid;
  border-color: white;
}
.contact .form .button--black {
  background-color: black;
  margin: 30px;
  color: white;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  border-radius: 10px;
  border: 0;
  padding: 10px 50px;
  font-weight: 700;
  transition: 0.3s;
}

.contact::after {
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.partners {
  display: flex;
  flex-direction: column;
  background: rgb(111, 111, 111);
  background: linear-gradient(180deg, rgb(214, 214, 214) 0%, rgba(255, 255, 255, 0.43) 100%);
}
.partners .title--black {
  font-size: 32px;
  text-align: center;
  font-weight: 400;
  margin: 50px;
}
.partners .partner {
  display: flex;
  font-size: 32px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  border-radius: 55px 10px 10px 55px;
  padding: 10px;
  padding-right: 90px;
  margin: 10px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
.partners .partner--right {
  display: flex;
  font-size: 32px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  border-radius: 10px 55px 55px 10px;
  padding: 10px;
  padding-left: 60px;
  margin: 20px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
.partners .partner--right .partner__img {
  order: 2;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  background: rgb(111, 111, 111);
  background: linear-gradient(0deg, rgb(111, 111, 111) 0%, rgba(255, 255, 255, 0.43) 100%);
}
.footer .icons {
  display: flex;
  position: relative;
  margin-top: 50px;
  right: 15%;
}
.footer .icons .icons__img {
  margin: 10px;
}
.footer .footer__header {
  font-family: "Abril Fatface", cursive;
  margin-top: 50px;
}
.footer .footer__list {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin-top: 30px;
  padding: 0;
  list-style: none;
  text-align: center;
}
.footer .list-item {
  padding-bottom: 15px;
}
.footer .list-item--anchor {
  text-decoration: none;
  color: black;
}
.footer .footer__address {
  font-family: "Raleway", sans-serif;
  margin-top: 30px;
  text-align: center;
}
.footer .footer__copyright {
  font-family: "Raleway", sans-serif;
  margin-top: 90px;
  text-align: center;
}
.footer .footer__powered {
  font-family: "Raleway", sans-serif;
  margin-top: 30px;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.title--black {
  font-family: "Abril Fatface", cursive;
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */