@use "variables.scss";
@use "nav.scss";
@use "new-model.scss";
@use "gallery.scss";
@use "contact.scss";
@use "partners.scss";
@use "footer.scss";

*{
    box-sizing: border-box;
    margin: 0;
}

.title--black{
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
}